<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>重新设置密码</h1>
<p>
  请点击下面地址,以便重新设置密码 <a href="<%= ::UserMailer::URL %>/users/reset_password?email=<%= @user.login %>&token=<%= @user.reset_pwd_token %>"><%= ::UserMailer::URL %>/users/reset_password?email=<%= @user.login %>&token=<%= @user.reset_pwd_token %></a>
</p>
</body>
</html>