<%= content_for :header_css do %>
    <link href="/js/select2/select2.css" media="all" rel="stylesheet" type="text/css" />
<% end %>
<div class="signup_bg">
<div class="content">
<p class="mypage_topimg">
  <img src="/assets/web/signup/topimg1.jpg" />
  <img src="/assets/web/signup/topimg2.jpg" />
  <img src="/assets/web/signup/topimg3.gif" />
</p>
<div class="signup_redtext">
  <p> 赠送产品抽奖活动<br>
    只有会员才能参加的”赠送产品“抽奖活动，<br>
    美味格力高产品送到您手上！</p>
  <p> 每月发送官方最新信息！<br>
    领先获得各种新产品信息及会员特典！<br>
  </p>
</div>
<p class="clear"></p>
<div class="signup_content">
<p><img src="/assets/web/signup/title1.gif" /></p>
<div class="inf"><br>
  <p>格力高乐园是上海江崎格力高食品有限公司（以下简称“上海格力高”）运营的服务（以下简称“本服务”）。
    使用本服务的会员必须遵守《格力高乐园利用规章》（以下简称“本规章”）的规定。如你使用本服务，视为你已经同意了本规章。如果你不同意本规章的规定，就不能使用本服务，敬请谅解。
    如上海格力高公司网站或上海格力高公司网站里的各网页上其它服务有相应的规章，且该规章内容和本规章内容有冲突，会员在使用这些服务时，应遵守与该服务相对应的规章。 </p>
  <br>
  <h4>第一条 （规章的适用）</h4>
  <p>1. 本规章适用于使用本服务的会员。</p>
  <p>2. 会员登陆成功时，即应诚实得遵守本规章的规定。</p>
  <p>3. 上海格力高有权随时对本规章进行修改或补充，修改或补充内容与原规章内容有冲突的，以修改或补充后的内容为准。</p>
  <br>
  <h4>第二条（会员登陆）</h4>
  <p>1. 本网站的会员，是指按照上海格力高规定的程序申请会员登记并获得上海格力高确认登录成功的自然人、法人或其它组织。</p>
  <p>2. 使用本服务无须缴纳入会费或会费等费用。</p>
  <p>3. 会员需自行登录、设定“用户名”、“呢称”及“密码”并进行管理和使用，承担与此有关的一切责任。上海格力高不对因会员的使用上的错误或第三者的不正当的使用导致的后果或损失承担任何责任。</p>
  <p>4. 会员如须对本服务的登录信息进行变更或退会，请在格力高乐园登陆，按照该页内关于“登记信息变更”和“退会”的操作流程办理相关手续。
    另，如忘记邮件地址、密码，请点击下面选项。</p>
  <p><a onClick="window.open(this.href);return false;" href="https://glico-cp.com.cn/forgot_password">■忘记密码</a></p>
  <br>
  <h4>第三条（服务的提供）</h4>
  <p>1. 会员登陆后可无偿使用本网站提供的各种服务。但须自行承担通讯费等登陆本网站所需的费用。</p>
  <p>2. 上海格力高可能会根据会员登陆的邮箱地址或通过其他联系方式将本服务信息送交会员。</p>
  <p>3. 上海格力高有权随时变更本网站的内容或停止提供本网站上的服务、关闭本网站，无须提前通知会员。</p>
  <br>
  <h4>第四条（会员的通知）</h4>
  <p>1. 除非另有特别的规定，上海格力高会通过电子邮件或在本网站上公告的方式或其他上海格力高认为适当的方式对会员发送通知。</p>
  <p>2. 如前项通知是用电子邮件发送，自该邮件到达会员的电子邮件地址的服务器时视为送达。会员应及时阅读该通知。</p>
  <p>3. 如本条第1项的通知是通过在本网站上公告的形式送达的，自该通知本网站上公告时视为送达。</p>
  <br>
  <h4>第五条（会员的义务或禁止事项）</h4>
  <p>会员在使用本网站时，不得有下列行为，否则上海格力高有权取消该会员的资格，如因会员的下列行为给上海格力高造成损害的，应当对上海格力高由此遭受的一切损失承担赔偿责任。</p>
  <p>1. 入会时提供虚假信息</p>
  <p>2. 将会员资格或在本网站接受服务的权利转让、借与第三人。</p>
  <p>3. 诽谤或中伤他人或上海格力高，毁损名誉的行为。</p>
  <p>4. 侵害他人的财产和隐私的行为。</p>
  <p>5. 发送或书写有害的程序或违反公序良俗的信息，不正当的访问，窜改数据等行为。</p>
  <p>6. 把本网站提供的信息、作品供他人使用或者复制、销售该信息或作品的，其它侵害著作权等知识产权的行为。</p>
  <p>7. 其它妨碍本网站运营的行为。</p>
  <p>8. 其它违反本规章或上海格力高规定的行为，或其它不正当行为或违法行为。</p>
  <p>9. 其它违犯国内外的网络通用规则的行为。</p>
  <br>
  <h4>第六条（著作权）</h4>
  <p>本服务中包含的全部的内容(信息，图解，标志，按钮图标，图像等)，著作权归属于上海格力高或内容提供者。会员承诺在《中华人民共和国著作权法》允许的范围内使用本服务。禁止在其它任何地方使用本服务的任何内容（包括代言人的照片、动画等）。</p>
  <br>
  <h4>第七条（商标）</h4>
  <p>本服务中涉及的商标和标识的相关权利归上海格力高所有。未经许可，禁止使用。</p>
  <br>
  <h4>第八条（服务的暂时中断）</h4>
  <p>因服务器系统维护或发生故障或其它原因（包括但不限于火灾、停电、地震、技术上需要或上海格力高需要暂停服务等）造成本服务暂时中断的，上海格力高无须提前通知会员，如因此造成损失的，上海格力高不承担任何赔偿责任。</p>
  <br>
  <h4>第九条（服务的变更、终止）</h4>
  <p>上海格力高有权随时变更本网站的内容、改变网址或停止提供本网站上的服务，无须提前通知会员。</p>
  <br>
  <h4>第十条（免責事項）</h4>
  <p>上海格力高应尽注意义务提供关于本服务的信息。但因技术原因或时间变化可能会导致服务信息有误，上海格力高不对信息的完全性、正确性、最新性、有用性、目的适合性做任何保证。同时，上海格力高不对因本服务的使用导致的软件或硬件上的事故，或使用者之间的纠纷，或其它事故造成的损失承担任何赔偿责任。</p>
  <br>
  <h4>第十一条(个人信息的使用、管理)</h4>
  <p>会员个人信息的使用及管理，详见《格力高乐园使用规章》中的“隐私条款”。</p>
  <br>
  <p><a onClick="window.open(this.href);return false;" href="https://glico-cp.com.cn/privacypolicy">■隐私条款</a></p>
  <br>
  <p>上海格力高使用“cookie”技术。</p>
  <p><a onClick="window.open(this.href);return false;" href="https://glico-cp.com.cn/privacypolicy">■关于“cookie”技术</a></p>
  <br>
  <h4>第十二条（网站链接）</h4>
  <p>原则上，会员可以在自己的网页上设置链接，链接本网站，但本网站的网址可能会改变，由此可能会给会员带来不便，特此告知。
    但有诽谤中伤内容、违背公序良俗的内容或违法内容的网站禁止链接本网站。</p>
  <br>
  <p>本网站可能会设置链接，会员通过该链接可以链接到其它非上海格力高的网站上，由于被链接的网站不属于上海格力高运营和管理，因此，上海格力高不对会员因链接该网站或使用链接网站上的内容所遭受的一切损失承担任何责任。</p>
  <br>
  <h4>第十三条（作品、信息或建议的提供）</h4>
  <p>会员可以向上海格力高提供作品、信息、想法或建议等，但相关作品的著作权以及与信息、想法或建议相关的所有权利属于上海格力高所有，法律另有规定的除外。
    同时，除非上海格力高事先明确表明支付对价，否则上海格力高无须就会员提供的上述作品、信息、想法和建议等支付任何报酬。上海格力高可以不受任何限制地使用上述作品、信息、想法和建议。</p>
  <br>
  <h4>第十四条（《格力高乐园利用规章》的变更）</h4>
  <p>上海格力高有权根据需要对本规章的内容进行变更，会员承诺会遵守变更后的新的规章。</p>
  <br>
  <h4>第十五条（纠纷处理）</h4>
  <p>因本规章或本服务引起的一切纠纷由上海市黄浦区人民法院根据中国相关法律法规的规定进行裁决。</p>
  <br>
  <p>（附則）</p>
  <p>本规章从2009年5月1日开始施行。</p>
  <br>
  <br>
</div>
<div class="signup_dj">
  <p class="signup_djyd">
    <input type="radio" id="need_agree" />
  </p>
  <p class="signup_djtext">同意以上内容进行会员登录。</p>
</div>
<p><img src="/assets/web/signup/title2.gif"></p>

<%= form_tag signup_success_path, :method =>:post do %>

    <div class="qtable">
        <table width="611">
            <tbody>
                <tr>
                  <td width="46%" class=cell-question><p class="signup_textL">
                    <label for="name">姓名</label>
                  </p>
                    <p><img src="/assets/web/signup/icon.gif"></p></td>
                  <td width="54%" class=cell-input><p style="float:left;">
                    <input name="user[name]" type="text" class="text_field" value="<%= @user.name %>" data-required="true" data-error-message="请输入您的姓名">
                  </p>
                  <p class="signup_red">※请填写真实姓名</p>
                </td>
                </tr>
                <tr>
                  <td class="cell-question">
                    <p class="signup_textL">昵称</p>
                    <p><img src="/assets/web/signup/icon.gif"></p>
                  </td>
                  <td class="cell-input"><input name="user[nickname]" value="<%= @user.nickname %>" type="text" class="text_field" data-required="true" data-error-message="请输入您的昵称"></td>
                </tr>
                <tr>
                  <td class="cell-question"><label for="email">
                    <p class="signup_textL">电子邮箱（会员用户名）</p>
                    <p><img src="/assets/web/signup/icon.gif"></p>
                  </label></td>
                  <td class="cell-input">
                    <input name="user[login]" id="users_email1" value="<%= @user.login %>" type="text" class="text_field2" data-required="true" data-type="email" data-required-message="邮箱地址不能为空" data-type-email-message="请输入正确的邮箱地址"> <span id="email_ok" style="display:none;font-size:1.5em;color:green;padding: 3px 0 0 9px;"> ✓ </span>
                    <ul id="checked_info" class="parsley-error-list" style="display: block; color: #ff3300;"> 
                      <li class="required" style="display: list-item;"></li >
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td class="cell-question"><label for="email">
                    <p class="signup_textL">电子邮箱确认</p>
                    <p><img src="/assets/web/signup/icon.gif"></p>
                  </label></td>
                  <td class="cell-input"><input name="user[login_confirmation]" value="<%= @user.login_confirmation %>" type="text" class="text_field2" data-equalto="#users_email1" data-required="true" data-required-message="确认邮箱地址不能为空"  data-equalto-message="请输入相同的邮箱"></td>
                </tr>
                <tr>
                  <td class="cell-question"><p class="signup_textL">
                    <label for="password">密码</label>
                  </p>
                    <p><img src="/assets/web/signup/icon.gif"></p>
                    <p class="clear"></p>
                    <div class="attention">6位以上的文字 </div></td>
                  <td class="cell-input"><input name="user[password]" type="password" value="<%= @user.password %>" class="text_field" id="users_pwd1" data-required="true" data-minlength="6" data-required-message="密码不能为空" data-minlength-message="密码最少6位以上"></td>
                </tr>
                <tr>
                  <td class="cell-question"><label for="password">
                    <p class="signup_textL">密码确认</p>
                    <p><img src="/assets/web/signup/icon.gif"></p>
                  </label></td>
                  <td class="cell-input"><input name="user[password_confirmation]" value="<%= @user.password_confirmation %>" type="password" class="text_field" data-equalto="#users_pwd1" data-required="true" data-required-message="确认密码不能为空" data-equalto-message="请输入相同的确认密码"></td>
                </tr>
                <tr>
                  <td class="cell-question"><label for="birthday2">
                    <p class="signup_textL">出生年月</p>
                    <p><img src="/assets/web/signup/icon.gif"></p>
                  </label></td>
                  <td class="cell-input">
                    <input id="user_birthday2" class="text_field Wdate" value="<%= @user.birthday %>" type="text" name="user[birthday]" data-required="true" data-error-message="请选择您的出生年月" onFocus="WdatePicker({isShowClear:false,readOnly:true})"></td>
                </tr>
                <tr>
                  <td class="cell-question"><p class="signup_textL">性别</p>
                    <p><img src="/assets/web/signup/icon.gif"></p></td>
                  <td class="cell-input"><label for="select"></label>
                    <select name="user[gender]" class="signup_xlk">
                      <option value="1">男</option>
                      <option value="0">女</option>
                    </select>
                  </td>
                </tr>
                <tr>
                <td class="cell-question"><label for="address2">
                  <p class="signup_textL">所在地区</p>
                  <p><img src="/assets/web/signup/icon.gif"></p>
                </label></td>
                <td class="cell-input">
                <select id="user_address2" name="user[address2]" style="width: 165px;">
                    <OPTION value=10000 selected="selected">北京市</OPTION>
                    <OPTION value=10001>上海市</OPTION>
                    <OPTION value=10002>天津市</OPTION>
                    <OPTION value=10003>重庆市</OPTION>
                    <OPTION value=10004>河北省　　石家庄市</OPTION>
                    <OPTION value=10005>河北省　　廊坊市</OPTION>
                    <OPTION value=10006>河北省　　保定市</OPTION>
                    <OPTION value=10007>河北省　　唐山市</OPTION>
                    <OPTION value=10008>河北省　　秦皇岛市</OPTION>
                    <OPTION value=10009>山西省　　太原市</OPTION>
                    <OPTION value=10010>山西省　　运城市</OPTION>
                    <OPTION value=10011>山西省　　大同市</OPTION>
                    <OPTION value=10012>山西省　　临汾市</OPTION>
                    <OPTION value=10013>内蒙古　　呼和浩特市</OPTION>
                    <OPTION value=10014>内蒙古　　赤峰市</OPTION>
                    <OPTION value=10015>内蒙古　　包头市</OPTION>
                    <OPTION value=10016>辽宁省　　沈阳市</OPTION>
                    <OPTION value=10017>辽宁省　　大连市</OPTION>
                    <OPTION value=10018>辽宁省　　鞍山市</OPTION>
                    <OPTION value=10019>辽宁省　　营口市</OPTION>
                    <OPTION value=10020>辽宁省　　抚顺市</OPTION>
                    <OPTION value=10021>辽宁省　　锦州市</OPTION>
                    <OPTION value=10022>辽宁省　　丹东市</OPTION>
                    <OPTION value=10023>辽宁省　　葫芦岛市</OPTION>
                    <OPTION value=10024>辽宁省　　本溪市</OPTION>
                    <OPTION value=10025>辽宁省　　辽阳市</OPTION>
                    <OPTION value=10026>辽宁省　　铁岭市</OPTION>
                    <OPTION value=10027>吉林省　　长春市</OPTION>
                    <OPTION value=10028>吉林省　　吉林市</OPTION>
                    <OPTION value=10029>吉林省　　辽源市</OPTION>
                    <OPTION value=10030>吉林省　　通化市</OPTION>
                    <OPTION value=10031>黑龙江省　哈尔滨市</OPTION>
                    <OPTION value=10032>黑龙江省　伊春市</OPTION>
                    <OPTION value=10033>黑龙江省　绥化市</OPTION>
                    <OPTION value=10034>黑龙江省　大庆市</OPTION>
                    <OPTION value=10035>黑龙江省　齐齐哈尔市</OPTION>
                    <OPTION value=10036>黑龙江省 牡丹江市</OPTION>
                    <OPTION value=10037>黑龙江省 佳木斯市</OPTION>
                    <OPTION value=10038>江苏省　　南京市</OPTION>
                    <OPTION value=10039>江苏省　　苏州市</OPTION>
                    <OPTION value=10040>江苏省　　无锡市</OPTION>
                    <OPTION value=10041>江苏省　　常州市</OPTION>
                    <OPTION value=10042>江苏省　　昆山市</OPTION>
                    <OPTION value=10043>江苏省　　常熟市</OPTION>
                    <OPTION value=10044>江苏省　　扬州市</OPTION>
                    <OPTION value=10045>江苏省　　南通市</OPTION>
                    <OPTION value=10046>江苏省　　镇江市</OPTION>
                    <OPTION value=10047>江苏省　　徐州市</OPTION>
                    <OPTION value=10048>江苏省　　连云港市</OPTION>
                    <OPTION value=10049>江苏省　　盐城市</OPTION>
                    <OPTION value=10050>江苏省　　张家港市</OPTION>
                    <OPTION value=10051>浙江省　　杭州市</OPTION>
                    <OPTION value=10052>浙江省　　宁波市</OPTION>
                    <OPTION value=10053>浙江省　　温州市</OPTION>
                    <OPTION value=10054>浙江省　　绍兴市</OPTION>
                    <OPTION value=10055>浙江省　　金华市</OPTION>
                    <OPTION value=10056>浙江省　　嘉兴市</OPTION>
                    <OPTION value=10057>浙江省　　台州市</OPTION>
                    <OPTION value=10058>浙江省　　湖州市</OPTION>
                    <OPTION value=10059>浙江省　　丽水市</OPTION>
                    <OPTION value=10060>浙江省　　舟山市</OPTION>
                    <OPTION value=10061>浙江省　　衢州市</OPTION>
                    <OPTION value=10062>安徽省　　合肥市</OPTION>
                    <OPTION value=10063>安徽省　　芜湖市</OPTION>
                    <OPTION value=10064>安徽省　　安庆市</OPTION>
                    <OPTION value=10065>安徽省　　马鞍山市</OPTION>
                    <OPTION value=10066>安徽省　　蚌埠市</OPTION>
                    <OPTION value=10067>安徽省　　阜阳市</OPTION>
                    <OPTION value=10068>安徽省　　铜陵市</OPTION>
                    <OPTION value=10069>安徽省　　滁州市</OPTION>
                    <OPTION value=10070>安徽省　　黄山市</OPTION>
                    <OPTION value=10071>安徽省　　淮南市</OPTION>
                    <OPTION value=10072>安徽省　　六安市</OPTION>
                    <OPTION value=10073>安徽省　　巢湖市</OPTION>
                    <OPTION value=10074>安徽省　　宣城市</OPTION>
                    <OPTION value=10075>安徽省　　池州市</OPTION>
                    <OPTION value=10076>福建省　　福州市</OPTION>
                    <OPTION value=10077>福建省　　厦门市</OPTION>
                    <OPTION value=10078>福建省　　泉州市</OPTION>
                    <OPTION value=10079>福建省　　漳州市</OPTION>
                    <OPTION value=10080>福建省　　莆田市</OPTION>
                    <OPTION value=10081>福建省　　三明市</OPTION>
                    <OPTION value=10082>福建省　　南平市</OPTION>
                    <OPTION value=10083>福建省　　宁德市</OPTION>
                    <OPTION value=10084>福建省　　龙岩市</OPTION>
                    <OPTION value=10085>江西省　　南昌市</OPTION>
                    <OPTION value=10086>江西省　　九江市</OPTION>
                    <OPTION value=10087>山东省　　济南市</OPTION>
                    <OPTION value=10088>山东省　　青岛市</OPTION>
                    <OPTION value=10089>山东省　　烟台市</OPTION>
                    <OPTION value=10090>山东省　　潍坊市</OPTION>
                    <OPTION value=10091>山东省　　威海市</OPTION>
                    <OPTION value=10092>山东省　　淄博市</OPTION>
                    <OPTION value=10093>山东省　　临沂市</OPTION>
                    <OPTION value=10094>山东省　　济宁市</OPTION>
                    <OPTION value=10095>山东省　　东营市</OPTION>
                    <OPTION value=10096>山东省　　泰安市</OPTION>
                    <OPTION value=10097>山东省　　日照市</OPTION>
                    <OPTION value=10098>山东省　　德州市</OPTION>
                    <OPTION value=10099>河南省　　郑州市</OPTION>
                    <OPTION value=10100>河南省　　洛阳市</OPTION>
                    <OPTION value=10101>河南省　　开封市</OPTION>
                    <OPTION value=10102>湖北省　　武汉市</OPTION>
                    <OPTION value=10103>湖北省　　宜昌市</OPTION>
                    <OPTION value=10104>湖北省　　黄石市</OPTION>
                    <OPTION value=10105>湖北省　　襄樊市</OPTION>
                    <OPTION value=10106>湖北省　　十堰市</OPTION>
                    <OPTION value=10107>湖北省　　荆州市</OPTION>
                    <OPTION value=10108>湖北省　　荆门市</OPTION>
                    <OPTION value=10109>湖北省　　孝感市</OPTION>
                    <OPTION value=10110>湖北省　　鄂州市</OPTION>
                    <OPTION value=10111>湖南省　　长沙市</OPTION>
                    <OPTION value=10112>湖南省　　株洲市</OPTION>
                    <OPTION value=10113>湖南省　　湘潭市</OPTION>
                    <OPTION value=10114>湖南省　　衡阳市</OPTION>
                    <OPTION value=10115>湖南省　　岳阳市</OPTION>
                    <OPTION value=10116>湖南省　　常德市</OPTION>
                    <OPTION value=10117>湖南省　　益阳市</OPTION>
                    <OPTION value=10118>湖南省　　郴州市</OPTION>
                    <OPTION value=10119>湖南省　　邵阳市</OPTION>
                    <OPTION value=10120>湖南省　　怀化市</OPTION>
                    <OPTION value=10121>湖南省　　娄底市</OPTION>
                    <OPTION value=10122>湖南省　　永州市</OPTION>
                    <OPTION value=10123>湖南省　　张家界市</OPTION>
                    <OPTION value=10124>广东省　　广州市</OPTION>
                    <OPTION value=10125>广东省　　深圳市</OPTION>
                    <OPTION value=10126>广东省　　惠州市</OPTION>
                    <OPTION value=10127>广东省　　汕头市</OPTION>
                    <OPTION value=10128>广东省　　珠海市</OPTION>
                    <OPTION value=10129>广东省　　佛山市</OPTION>
                    <OPTION value=10130>广东省　　中山市</OPTION>
                    <OPTION value=10131>广东省　　东莞市</OPTION>
                    <OPTION value=10132>广东省　　韶关市</OPTION>
                    <OPTION value=10133>广东省　　江门市</OPTION>
                    <OPTION value=10134>广东省　　湛江市</OPTION>
                    <OPTION value=10135>广东省　　肇庆市</OPTION>
                    <OPTION value=10136>广东省　　清远市</OPTION>
                    <OPTION value=10137>广东省　　潮州市</OPTION>
                    <OPTION value=10138>广东省　　河源市</OPTION>
                    <OPTION value=10139>广东省　　揭阳市</OPTION>
                    <OPTION value=10140>广东省　　茂名市</OPTION>
                    <OPTION value=10141>广东省　　汕尾市</OPTION>
                    <OPTION value=10142>广东省　　顺德市</OPTION>
                    <OPTION value=10143>广西　　　南宁市</OPTION>
                    <OPTION value=10144>广西　　　桂林市</OPTION>
                    <OPTION value=10145>广西　　　柳州市</OPTION>
                    <OPTION value=10146>广西　　　北海市</OPTION>
                    <OPTION value=10147>海南省　　海口市</OPTION>
                    <OPTION value=10148>海南省　　三亚市</OPTION>
                    <OPTION value=10149>四川省　　成都市</OPTION>
                    <OPTION value=10150>四川省　　绵阳市</OPTION>
                    <OPTION value=10151>四川省　　乐山市</OPTION>
                    <OPTION value=10152>四川省　　泸州市</OPTION>
                    <OPTION value=10153>四川省　　德阳市</OPTION>
                    <OPTION value=10154>四川省　　宜宾市</OPTION>
                    <OPTION value=10155>四川省　　自贡市</OPTION>
                    <OPTION value=10156>四川省　　内江市</OPTION>
                    <OPTION value=10157>四川省　　攀枝花市</OPTION>
                    <OPTION value=10158>贵州省　　贵阳市</OPTION>
                    <OPTION value=10159>贵州省　　遵义市</OPTION>
                    <OPTION value=10160>云南省　　昆明市</OPTION>
                    <OPTION value=10161>云南省　　曲靖市</OPTION>
                    <OPTION value=10162>云南省　　玉溪市</OPTION>
                    <OPTION value=10163>云南省　　大理市</OPTION>
                    <OPTION value=10164>云南省　　丽江市</OPTION>
                    <OPTION value=10165>云南省　　蒙自市</OPTION>
                    <OPTION value=10166>云南省　　开远市</OPTION>
                    <OPTION value=10167>云南省　　个旧市</OPTION>
                    <OPTION value=10168>云南省　　红河州</OPTION>
                    <OPTION value=10169>西藏　　　拉萨市</OPTION>
                    <OPTION value=10170>西藏　　　日喀则市</OPTION>
                    <OPTION value=10171>陕西省　　西安市</OPTION>
                    <OPTION value=10172>陕西省　　咸阳市</OPTION>
                    <OPTION value=10173>陕西省　　宝鸡市</OPTION>
                    <OPTION value=10174>陕西省　　铜川市</OPTION>
                    <OPTION value=10175>陕西省　　延安市</OPTION>
                    <OPTION value=10176>甘肃省　　兰州市</OPTION>
                    <OPTION value=10177>甘肃省　　金昌市</OPTION>
                    <OPTION value=10178>青海省　　西宁市</OPTION>
                    <OPTION value=10179>宁夏　　　银川市</OPTION>
                    <OPTION value=10180>新疆　　　乌鲁木齐市</OPTION>
                    <OPTION value=10181>新疆　　　克拉玛依市</OPTION>
                    <OPTION value=10182>新疆　　　喀什地区市</OPTION>
                    <OPTION value=10183>港澳台　　香港</OPTION>
                    <OPTION value=10184>港澳台　　澳门</OPTION>
                    <OPTION value=10185>港澳台　　台湾</OPTION>
                </SELECT>
                </td>
                </tr>
                <tr>
                  <td class=cell-question><label for=like_snacks>
                    <p class="signup_textL">职业</p>
                    <p><img src="/assets/web/signup/icon.gif"></p>
                  </label></td>
                  <td class=cell-input>
                    <select name="user[job]" class="signup_xlk">
                      <option value="学生">学生</option>
                      <option value="公司职员">公司职员</option>
                      <option value="个体经营">个体经营</option>
                      <option value="农业">农业</option>
                      <option value="公务员">公务员</option>
                      <option value="家庭主妇">家庭主妇</option>
                      <option value="其他">其他</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class=cell-question><ul>
                    <li>是否可以向你发送介绍格力高新产品，各种活动信息等内容的电子报？（选择） </li>
                    <li><img src="/assets/web/signup/icon.gif"></li>
                    <li>是</li>
                    <li style="padding-top:2px; padding-top:0;">
                      <input name="user[email_agreement]" type="radio" value="1" data-required="true" data-error-message="请选择是否需要">
                    </li>
                    <li>&nbsp;</li>
                    <li>否</li>
                    <li style="padding-top:2px; padding-top:0;">
                      <input name="user[email_agreement]" type="radio" value="0">
                    </li>
                  </ul></td>
                </tr>
                <tr>
                  <td colspan="2" class=cell-question><p class="signup_t2">※ 参加抽奖活动时，需要以下信息。建议填写。</p></td>
                </tr>
                <tr>
                  <td class=cell-question><p class="signup_textL"> 邮政编码<br/>
                    住址 </p>
                    <p><img src="/assets/web/signup/icon2.gif"></p></td>
                  <td class=cell-input style="padding:11px 0 11px 15px;"><input name="user[postcode]" value="<%= @user.postcode %>" type="text" class="text_field3" >
                    <br/>
                    <input name="user[detail_address]" type="text" class="text_field2" value="<%= @user.detail_address %>" ></td>
                </tr>
                <tr>
                  <td class=cell-question><p class="signup_textL">手机号码</p>
                    <p><img src="/assets/web/signup/icon2.gif"></p></td>
                  <td class=cell-input><input name="user[telphone]" type="text" class="text_field" value="<%= @user.telphone %>"></td>
                </tr>
    </tbody>
        </table>
    </div>
    <div class="signup_bot">
      <p class="signup_icon"><a href="javascript:;" id="add_user_btn"><img src="/assets/web/signup/icon_off.gif"></a></p>
      <p class="signup_link"><a href="#">请激活邮件里的网址,完成注册</a></p>
    </div>

<% end %>
</div>
</div>
<div class="signup_botimg"><img src="/assets/web/signup/botimg.jpg"></div>
</div>

<script type="text/javascript" src="/js/parsley/parsley.min.js"></script>
<script type="text/javascript" src="/js/select2/select2.min.js"></script>
<script type="text/javascript" src="/js/my97DatePicker/WdatePicker.js"></script>

<script type="text/javascript">
  $(function (){
      $('#user_address2').select2();

      $('#add_user_btn').click(function (){
          if($('#need_agree:checked').length === 0){
              alert('请勾选同意以上内容进行会员登录。');
              return false;
          }
          $('form').parsley('validate');
          $('form').submit();
          return false;
      });
  });
</script>
